           
           <div class="intro_topo">

           	<div class="entrar">
           	<%= link_to "Usar", new_user_session_path, :style => "color:white; font-size:20px; text-decoration:underline;" %>
           	</div>           	

           	<div style="margin-top:60px; margin-left:-50px;">

           		<center><%= link_to image_tag('/images/logo_zientia.png'), root_path %></center>

           	</div>


           </div>
           <center>
           <div class="presentation">
           	
           	<div style="float:left; margin-left:20px; margin-top:15px; width:72px;">
           		<%= image_tag('/images/books.png') %>

           	</div>
           	
           	<h2 style="color:#003006; margin-top:25px; float:left; margin-left:70px; text-decoration:underline;">Resenha</h2>
           	<p style="text-align:justify; float:left; margin-top:30px; padding:10px; line-height:180%; font-weight:bold; text-indent: 1.5em;"> Plataforma de entrega de conteúdo didático digital, no qual o aluno e o professor, dentro de sala de aula, poderão criar grupos de troca de conhecimento, realizar leituras com conteúdos digitais (e-books), fazer aulas com Realidade Aumentada ou via Aplicações Mobile, trocar arquivos na nuvem, acompanhar um feed de notícias criado na sala de aula e além disso trocar mensagens entre si. </p>
           </div>
           </center>
           <br><br>
           <center><p style="color:#003006; left:45%; position:fixed; bottom:0; margin-top:0px;">2013 Zientia</p></center>


