    <ul id="mainNav">     
      <li id="navDashboard" class="nav active">
        <span class="icon-home"></span>
        <a href="dashboard.html">Dashboard</a>        
      </li>

      <li id="navType" class="nav">
        <span class="icon-rss-alt"></span>
        <a href="typography.html">Feed</a>  
      </li>
      
      <li id="navGrid" class="nav">
        <span class="icon-book"></span>
        <a href="grids.html">Biblioteca</a>  
      </li>
      
      <li id="navTables" class="nav">
        <span class="icon-cloud"></span>
        <a href="tables.html">Cloud</a>  
      </li>
      
      <li id="navButtons" class="nav">
        <span class="icon-at"></span>
        <a href="buttons.html">Aplicativos</a>  
      </li>
      
      <li id="navInterface" class="nav">
        <span class="icon-hash"></span>
        <a href="interface.html">English Content</a> 
      </li>
    
    </ul>